@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  color: var(--primary-color);
  background-color: var(--bgn-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f07232;
  --bgn-color: #000000;
}
